# نادیده گرفتن فایل‌های سیستمی پایتون
__pycache__/
*.py[cod]
*$py.class

# نادیده گرفتن محیط مجازی
venv/
.venv/
env/

# نادیده گرفتن فایل‌های حساس (پسوردها)
.env

# نادیده گرفتن دیتابیس (چون دیتای لوکال است)
*.db
*.sqlite3

# سایر فایل‌های اضافی
.DS_Store
.idea/
.vscode/